<head>
    <meta charset='@Model.GetReporterConfigurationSetting("encoding")' />
    <meta name='description' content='' />
    <meta name='robots' content='noodp, noydir' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <link href='@Model.GetReporterConfigurationSetting("protocol")://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <link href="@Model.GetReporterConfigurationSetting("protocol")://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='@Model.GetReporterConfigurationSetting("protocol")://cdn.rawgit.com/anshooarora/extentreports-csharp/3b6cc04fd241b9782606e57fc5e84f0e42172c08/dist/css/extent.css' type='text/css' rel='stylesheet' />

    <title>@Model.GetReporterConfigurationSetting("documentTitle")</title>

    @if (!string.IsNullOrEmpty(Model.GetReporterConfigurationSetting("css")))
    {
        <style type='text/css'>
			@Model.GetReporterConfigurationSetting("css")
        </style>
    }
</head>