@{
    var t = Model.TestList[0];
    var bdd = t.HasChildren() && t.NodeContext().Get(0).IsBehaviorDrivenType;

    var size = "s12 m6 l6";
    var testsViewChartsHeading = "Classes";
    var stepsViewChartsHeading = "Tests";

    if (Model.SessionStatusStats.ChildCount == 0 || Model.SessionStatusStats.GrandChildCount == 0)
    {
        testsViewChartsHeading = "Tests";
        stepsViewChartsHeading = "Steps";
    }

    if (bdd || (Model.SessionStatusStats.ChildCount > 0 && Model.SessionStatusStats.GrandChildCount > 0))
    {
        size = "s12 m4 l4";
    }

    if (bdd)
    {
        testsViewChartsHeading = "Features";
        stepsViewChartsHeading = "Scenarios";
    }
}

<div id='test-view-charts' class='subview-full'>
    <div id='charts-row' class='row nm-v nm-h'>
        <div class='col @size np-h'>
            <div class='card-panel nm-v'>
                <div class='left panel-name'>@testsViewChartsHeading</div>
                <div class='chart-box'>
                    <canvas id='parent-analysis' width='100' height='80'></canvas>
                </div>
                <div class='block text-small'>
                    <span><span class='strong'>@Model.SessionStatusStats.ParentPass</span> test(s) passed</span>
                </div>
                <div class='block text-small'>
                    <span class='strong'>@(Model.SessionStatusStats.ParentFail + Model.SessionStatusStats.ParentFatal)</span> test(s) failed, <span class='strong'>@(Model.SessionStatusStats.ParentError + Model.SessionStatusStats.ParentSkip + Model.SessionStatusStats.ParentWarning)</span> others
                </div>
            </div>
        </div>

        @if (Model.SessionStatusStats.ChildCount > 0)
        {
            <div class='col @size np-h'>
                <div class='card-panel nm-v'>
                    <div class='left panel-name'>@stepsViewChartsHeading</div>
                    <div class='chart-box'>
                        <canvas id='child-analysis' width='100' height='80'></canvas>
                    </div>
                    <div class='block text-small'>
                        <span><span class='strong'>@Model.SessionStatusStats.ChildPass</span> step(s) passed</span>
                    </div>
                    <div class='block text-small'>
                        <span class='strong'>@(Model.SessionStatusStats.ChildFail + Model.SessionStatusStats.ChildFatal)</span> step(s) failed, <span class='strong'>@(Model.SessionStatusStats.ChildError + Model.SessionStatusStats.ChildSkip + Model.SessionStatusStats.ChildWarning + Model.SessionStatusStats.ChildInfo)</span> others
                    </div>
                </div>
            </div>
        }

        @if (Model.SessionStatusStats.GrandChildCount > 0)
        {
            <div class='col @size np-h'>
                <div class='card-panel nm-v'>
                    <div class='left panel-name'>Steps</div>
                    <div class='chart-box'>
                        <canvas id='grandchild-analysis' width='100' height='80'></canvas>
                    </div>
                    <div class='block text-small'>
                        <span><span class='strong'>@Model.SessionStatusStats.GrandChildPass</span> step(s) passed</span>
                    </div>
                    <div class='block text-small'>
                        <span class='strong'>@(Model.SessionStatusStats.GrandChildFail + Model.SessionStatusStats.GrandChildFatal)</span> step(s) failed, <span class='strong'>@(Model.SessionStatusStats.GrandChildError + Model.SessionStatusStats.GrandChildSkip + Model.SessionStatusStats.GrandChildWarning + Model.SessionStatusStats.GrandChildInfo)</span> others
                    </div>
                </div>
            </div>
        }
    </div>
</div>